---
layout: default
---

<div class="home">

{% for post in paginator.posts%}

  <!-- Variables day, month y year -->
  {% assign months = "Enero|Febrero|Marzo|Abril|Mayo|Junio|Julio|Agosto|Septiembre|Octubre|Noviembre|Diciembre" | split: "|" %}
  {% assign m = post.date | date: "%-m" | minus: 1 %}
  {% assign day = post.date | date: "%d" %}
  {% assign month = months[m] %}
  {% assign year = post.date | date: "%Y" %}

  <div class="post postContent">
    <div  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ day }} de {{ month }}, {{ year }}</time>
    </div>
    <div class="postTag">
      {{post.tag}}
    </div>
    <br>
 
    <table class="postExt">
        <tr>
          <th style="width:20%"><img src="{{site.url}}/images/arona.png" alt="Drawing" style="width: 100px; border:1; border-style: double; " /></th>
          <th style="width:80%; text-align:left;">
              <div class="postTitle" style="text-align:left;">
                  <a class='postLink' href="{{site.url}}{{post.url}}">{{post.title}}</a>
              </div>
              <div class="postExt" style="font-family: 'Josefin Sans';
              display: inline;
              text-decoration: none;
              font-size: 1.1em;
              color: #aaa;
              font-weight: 300;
              transition: all .2s ease;">
                  {{ post.content | strip_html | truncate:200}}
              </div>
          </th>
        </tr>
      </table>

   
  </div>

  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a class="paginationLink" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em class="paginationLink paginationLinkCurrent">{{ page }}</em>
      {% elsif page == 1 %}
        <a class="paginationLink" href="/">{{ page }}</a>
      {% else %}
        <a class="paginationLink" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="paginationLink" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
    </nav>
  {% endif %}
  <!--<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta-main">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link-main" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>-->



</div>
