
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <ul style="margin: 0;
    list-style-type: none;">
    <li style="float:left;">
      <a class="page-link" href="{{site.url}}/">Noticias</a>
    </li>
    {% for sitePage in site.pages %}
    {% if sitePage.title %}
    <li style="float:left;">
      <a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>